<!DOCTYPE HTML>
<html>
<head>
<title>Forex Service</title>
<meta name="author" content="Bhagwati Prasad(bpjoshi)" />
<meta name="_csrf" content="${_csrf.token}" />
<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" content="${_csrf.headerName}" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="/js/postrequest.js"></script>
</head>
<body>

	<div class="container">
		<h3 style="color: blue; text-align: center">Forex Trade
			Validation</h3>
		<!-- DIV for submitting trade information -->
		<div class="col-sm-12">
			<form class="fom-group" id="tradeInformationForm">
				<div class="form-group">
					<label for="TradeInfo">Enter Trade Information here in JSON
						Format:</label>
					<textarea class="form-control" rows="15" cols="" id="tradeInfo">
						<!-- The trade information will be entered here and validation
						result shall also be displayed here. -->
					</textarea>
				</div>

				<button type="submit" class="btn btn-default"
					style="margin-left: 20px; margin-right: 5px">Submit</button>

			</form>
		</div>
	</div>
</body>
</html>